# Ignore built frontend assets
src/* linguist-vendored
assets/css/* linguist-vendored

# Ignore compiled/minified files
*.min.css linguist-vendored
*.min.js linguist-vendored

# Ignore vendor libraries
node_modules/** linguist-vendored
